node_modules
.github
.idea
public
dist
bin
build
out
tmp
temp
.cache
.nuxt
pnpm-lock.yaml
package-lock.json
.nuxt
.nx
artifacts-zk
cache-zk
typechain-types
.output
deployments-zk

# Disable prettier for files if VSCode settings are ignored
**/*.vue
**/*.js
**/*.ts
**/*.jsx
**/*.tsx
**/*.mjs
**/*.cjs
**/*.final.zkey

# Ignore Swift/Rust files
packages/sdk-platforms/*

**/*.ptau
packages/contracts/test/**/*
# contract JSON test files are not properly formatted
packages/contracts/test/json-files/*
